*{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase ;
  text-align: center !important;
  background-color: #1b1b1b;
  font-weight: 600;
  left:600px;
  
  
}
body{
  position:absolute;
  top:400px !important;
  
}
.main3{
  color:#F7CA18;
  
}

.main2{
  color:#efefef;
  font-size: 1rem;
  letter-spacing: 5px; 
  
}

.main{
color: #efefef;
font-size: 5vw;

}

section .title span a::after {
  content: "";
  height: 2px;
  background-color: #f7ca18;   
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}

.line
{
  position:absolute;
  top:140px;  
  left:1050px;
}
.social {
  color:#efefef;
  font-size: 1rem;
  letter-spacing: 5px;
  
}

.pomlka{
  color:black;
}

a{
  color:#F7CA18;
  text-decoration-line: inherit;
  text-decoration-thickness: inherit;
  text-decoration-style: inherit;
  text-decoration-color: inherit;
}
 
.Programmer{
  color:#F7CA18
}
